{% extends 'cccenter/base.html' %}
{% load staticfiles %}
{% block js_includes %}
<script src="{% static 'cccenter/challenge_page.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
	<h1 style="width:100%; text-align:center">Challenge</h1>
	<div align="center">
		<textarea id="ciphertextDisplay" readonly rows='10' cols='50'>{{ciphertext}}</textarea>
		<br>
		<!--<input class="btn btn-default" type="button" value="Get Ciphertext" onclick="getCiphertext()">
		<br>-->
		<textarea id="plaintextDisplay" rows='10' cols='50'></textarea>
		<br>
		{% if user.is_authenticated %}
		    <form>{% csrf_token %}
		        <input class="btn btn-success" type="button" value="Check Solution" onclick="checkPlaintext({{challenge_id}})">
		    </form>
	    {% else %}
	        <form method="post" action="/cipher/joinchallenge/">{% csrf_token %}
	            <!--<input class="btn btn-success" type="button" value="Join" onclick="joinChallenge({{challenge_id}})">-->
	            <input type="hidden" name="challenge_id" value="{{challenge_id}}">
	            <input class="btn btn-success" type="submit">
	        </form>
        {% endif %}
	</div>
</div>
{% endblock %}
