{% extends 'cccenter/base.html' %}
{% load staticfiles %}
{% block js_includes %}
<script src="{% static 'cccenter/challenge_page.js' %}"></script>
{% endblock %}
{% block body %}
<div align="center">
	<textarea id="ciphertextDisplay" readonly rows='10' cols='50'></textarea>
	<br>
	<input type="button" value="Get Ciphertext" onclick="getCiphertext()">
	<br>
	<textarea id="plaintextDisplay" rows='10' cols='50'></textarea>
	<br>
	<input type="button" value="Check Solution" onclick="checkPlaintext()">
</div>
{% endblock %}
