{% extends 'cccenter/base.html' %}
{% load staticfiles %}
{% block js_includes %}
<script src="{% static 'cccenter/create_challenge.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="width:100%; text-align:left">New Challenge</h1>
    <!-- <div align="center"> -->
    <!-- "/cipher/createchallenge/" -->
        <form method="post">{% csrf_token %}
		    <div class="row">
		        <div class="col-sm-9">
					{% if bool != None %}
					<div class="alert alert-danger" role="alert">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only">Error:</span>
						{{error}}
					</div>
					{% endif %}
		        	<h4 style="text-align:left"> Choose by the difficulty level of a cipher: </h4>
		            <!-- <div class="btn-group difficultyRadio" data-toggle="buttons"> -->
	                <label class="btn btn-default cipherDifficulty">
	                    <input type="radio" name="radiogroup" value="beginner" class="difficultyRadio"/> <b> Beginner </b>
	                </label> 
	                <label class="btn btn-default cipherDifficulty">
	                    <input type="radio" name="radiogroup" value="intermediate" class="difficultyRadio"/> <b> Intermediate </b>
	                </label> 
	                <label class="btn btn-default cipherDifficulty">
	                    <input type="radio" name="radiogroup" value="advanced" class="difficultyRadio"/> <b> Advanced </b>
	                </label> 
		            <!-- </div> -->
		            <h4 style="text-align:left"> Choose from a list of ciphers: </h4>
					<select class="form-control" name="cipher" id="cipherChoice">
						<option value="" disabled selected> -- select a cipher -- </option>
						<option value="Caesar Shift">Caesar Shift</option>
						<option value="Multiplicitive">Multiplicitive</option>
						<option value="Affine Cipher">Affine Cipher</option>
					</select>	
		            <h4 style="text-align:left"> Choose challenge type: </h4>
					<select class="form-control" name="challengetype" id="challengeType" required>
						<option value="" disabled selected> -- select a type -- </option>
						<option value="single">Single</option>
						<option value="collaborative">Collaborative</option>
						{% if user.is_superuser %}
						<option value="competitive">Competitive</option>
						{% endif %}
					</select>
		        </div>	
		    </div>        
		    <br>
            <input class="btn btn-success" type="submit" value="Create New Challenge" id="createSubmit">
        </form>
    <!-- </div> -->
</div>
{% endblock %}
