{% extends 'cccenter/base.html' %}
{% load static from staticfiles %}

{% block body %}

<h1 class="text-center">Code and Cipher Center</h1>

<div class="container">

	<div class="row">
		<div class="col-12">
			<div class="well">
				<div class="page-header">
					<h2> Welcome to Code and Cipher Center </h2>
				</div>
				
				<p class="lead"> Code and Cipher Center is a place where cryptography enthusiasts can come together to solve 
				a large variety of cipher challenges. </p>
				
<!-- 				<a class="btn btn-large btn-success" href="/accounts/login/">Login</a>
				<a class="btn btn-large btn-success" href="/accounts/register/">Register</a> -->
				<div class="span7 text-center"><a class = "btn btn-info" href="/cipher/tutorials/">Tutorials</a></div>
			</div>
		</div>
	</div>

	<div class="row">
        <div class="col-md-4">
            <h2>Create</h2>
            <p>Create new cipher challenges with a click of a button with choices by difficulty level or cipher type. Then invite your
            friends to the challenge.</p>
            <a class="btn btn-success" href="/cipher/createchallenge">Create</a>
        </div>
        <div class="col-md-4">
            <h2>Solve</h2>
            <p>Take part in hundreds of challenges listed in the challenge list page with a choice among various types of challeges
            some of which have not yet been solved by other users</p>
            <a class="btn btn-success" href="/cipher/challengelist">Solve</a>
        </div>
        <div class="col-md-4">
            <h2>Collaborate</h2>
            <p>Collaborate with other users in solving challenging ciphers through our forums listed at the bottom of the collaborative 
            challenges page.</p>
            <a class="btn btn-success" href="/cipher/challengelist">Collaborate</a>
        </div>
	</div>
	<div class="row" style="padding: 100px">
		<div class="col-md-12">
			<div class="well well-sm">
				<div class="panel-heading">
					<legend class="text-center header" style="color: black"><strong>Contact us</strong></legend>
				</div><!-- END panel-heading -->
				<div class="panel-body">
					<form action="/" method="post" role="form">
					{% csrf_token %}
					  {% if message %}
					  <p>{{message}}</p>
					  {% endif %}
					  <div class="form-group">
					    <label for="subject">Subject</label>
					    <input type="text" class="form-control" name="subject" placeholder="Subject">
					  </div>
					  <div class="form-group">
					    <label for="email">Your Email Address</label>
					    <input type="email" class="form-control" name="email" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label for="message">Message</label>
					    <textarea class="form-control" name="message" placeholder="Enter your message" rows="6"></textarea>
					  </div>
					  <button type="submit" class="btn btn-success center-block">Submit</button>
					</form>
				</div>
			</div>				
		</div>						
	</div>
</div>
{% endblock %}

	

