{% extends 'cccenter/base.html' %}
{% load static from staticfiles %}
{% block css_includes %}
<link rel="stylesheet" type="text/css" href="/static/css/tutorials.css" />
{% endblock %}
{% block body %}

<div class="container">
	<h1 class="align-center">Tutorials</h1>
		<h3>New Challenge</h3>
			<p>Create a new challenge by difficulty, cipher type, and challenge type</p>
				<img src= "{% static 'images/NewChallenge.jpg' %}" alt= "Creating a new challenge " width="460" height = "345">

		<h3>Ciphers</h3>
			<p>Choose which cipher to use for your new challenge</p>
				<img src= "{% static 'images/CipherName.jpg' %}" alt="List of Ciphers to choose from " width="460" height="345">

		<h3>Types of Challenges</h3>
			<p>Choose between completing the challenge by yourself, with friends, or against everyone!</p>
				<img src= "{% static 'images/ChallengeType.jpg' %}" alt="Type of Challenge" width="460" height="345">

		<h3>List of Challenges</h3>
			<p>View the created challenges. Sorted by date created, type, or difficulty.</p>
				<img src= "{% static 'images/ChallengeList.jpg' %}" alt="List of available challenges" width="460" height="345">

		<h3>Complete your challenge</h3>
			<p>Complete your challenge! You can view the difficulty of the challenge and other users taking part in it. Invite others to join the ones you like.</p>
				<img src= "{% static 'images/Challenge.jpg' %}" alt="Complete your Challenge" width="460" height="345">

		<h3>Challenge Status</h3>
			<p>This is a closer look at the side menu. The top section displays the difficulty of the challenge, your status in the challenge, the number of players in the challenge, and the number of players who have solved the challenge. Below that are the usernames of the other players in this challenge and a tool to invite other users. In the final field is shown who has completed this challenge.</p>
				<img src= "{% static 'images/ChallengeSide.jpg' %}" alt="Challenge HUD" width ="160" height="145">

		<h3>Profile Page</h3>
			<p>View your user profile! Here you can see the your profile image and other usefull information. You can also see a list of all the challenges you are registered in with links to the challenge pages.</p>
				<img src= "{% static 'images/Profile.jpg' %}" alt="Profile Page" width="460" height="345">

		<h3>Settings</h3>
			<p>Update your user settings including an image for your profile.</p>
				<img src= "{% static 'images/Settings.jpg' %}" alt="Profile Page" width="160" height="145">
</div>
{% endblock %}
