div .align-center {
    text-align: center;
}

h1 .align-center{
    text-align: center;
    width: 100%;
}

h3 .align-center{
    text-align: center;
    width: 100%;
}

img{
    width: 60%;
    margin: auto;
}
