<!DOCTYPE html>
<html lang="en-US">
	<head>
		<script type='text/javascript' src= '/js/jquery-2.1.3.min.js'></script>
		<script type='text/javascript' src= '/js/challenge_page.js'></script>
		<title>Code and Cipher</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div align="center">
			<h1>Code and Cipher</h1>
			<input name"" type="button" value="Go">
			<input type="text" name="Cipher" id="ciphertextDisplay" value=""/>
			<br>
			<input type="text" name="PlainText" id="plaintextDisplay" value=""/>
			<input name"" type="button" value="Verify">
		</div>
	</body>
</html>
